#menu-game-name,#logo-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1f2f7;
}

.chinese-form-label {
    max-width: 100px;
    min-width: 70px;
    text-align: right;
    word-wrap: break-word;
}

.flarv-dialog{
    display:none;
}

.m-form .m-form__group > label {
    color: #f1f2f7;
}

.u-hide .u-form-game{
    display: none;
}

.col-form-label {
    font-weight: 800;
    font-size: 1.2rem;
}